@import url('https://fonts.googleapis.com/css?family=Roboto|Rosario|Bree+Serif');

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: url('../images/vertical_cloth.png');
    color: rgba(63, 15, 15, 0.85);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#clock, #trivia, #response, #results, #restart {
    display: none;
}

header .container, #game .container {
    background-color: rgba(191, 191, 191, 0.9);
}

#trivia #question, #start .mode {
    font-size: 150%;
}

.btn.mode, #restart.btn {
    background-color: rgba(0, 159, 159, 0.6);
    color: rgba(63, 15, 15, 0.85);
}

.btn.mode:hover, #restart.btn:hover {
    background-color: rgba(0, 216, 216, 0.6);
    color: rgba(127, 31, 31, 0.85);
}

#trivia [type=radio] {
    display: none;
}

#trivia [type=radio]:checked + label, #trivia [type=radio] + label:hover {
    background-color: rgba(127, 0, 0, 0.7);
    cursor: pointer;
    color: rgba(227, 227, 227, 0.9);
}

#response img {
    max-height: 350px;
    width: auto;
}